#rainbow-table-explain {
  position: fixed;
  background: oklch(0.60 0.19 135);
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 0.9rem;
  display: none;
  z-index: 9999;

  width: 250px;
}