#rainbow-table-explain {
  position: fixed;
  background: oklch(0.60 0.19 135);
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 0.9rem;
  display: none;
  z-index: 9999;

  width: 250px;
}

/* 스위치 기본 스타일 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  opacity: 0; /* 실제 체크박스 숨기기 */
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* 슬라이더 안의 원 */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* 체크되었을 때 슬라이더 색과 위치 */
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
